<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>About Event Stream</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <h1>About The Event Stream Application</h1>
        <img src="https://d1n8jod2ujwo0y.cloudfront.net/images/core/landing-page/banners/Main-Banner.png" class="img-banner" />
        <p>This is a paragraph.</p>
        <p>Timestamp: <%= Date() %> </p>
        <ul>
            <% for (let index = 0; index < numberOfIterations; index++) { %>
                <li><%= index %></li>
            <% } %>
        </ul>
    </body>
</html>
