body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    font-size: 14px;
}

.container {
    padding-inline: 25%;
}

.img-banner {
    width: 50%;
}

ul {
    list-style: none;
    padding: 0;
}

.form {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border: solid 1px #333;
    border-radius: 4px;
    font-size: 16px;
    min-width: 250px;
}

.btn {
    font-size: 16px;
    padding-block: 8px;
    padding-inline: 5px;
    border: 1px solid #222;
    color: #222;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.w-100 {
    width: 100%;
}

label {
    padding-block: 5px;
}

.my-2 {
    margin-block: 2rem;
}

/**
** Typography
**/
h1 {
    color: #222;
}

.text-secondary {
    color: #555;
}

.text-center {
    text-align: center;
}

.font-bold {
    font-weight: bold;
}

a {
    color: #0000ff;
    text-decoration: none;
}