body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

.container {
    padding-inline: 25%;
}

.img-banner {
    width: 50%;
}

ul {
    list-style: none;
    padding: 0;
}

/**
** Typography
**/
h1 {
    color: #222;
}

.text-secondary {
    color: #555;
}

.text-center {
    text-align: center;
}

a {
    color: #0000ff;
    text-decoration: none;
}