<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Notes</title>
        <link rel="stylesheet" href="/style.css">
    </head>

    <body class="container">
        <h1>All Notes</h1>
        <div class="d-flex">
            <span class="text-secondary">
                <a href="/">Home </a> >
                <a href="#">Notes </a>
            </span>
        </div>
        <div class="d-flex">
            <a href="/notes/create" class="btn">Create Note</a>
        </div>
        <ul>
        <%  notes.forEach(note => { %>
            
            <li>
                <h2> <%= note.title %> </h2>
                <% if(note.contents) { %> <p><%= note.contents.substring(0, 200) %>...</p> <%}%>
                <small><%= new Date(note.created_at) %></small>
                <a href="/notes/<%= note.id %>">View More</a>
            </li>
        <% }) %>
        </ul>
    </body>
</html>
